html{
    scroll-behavior: smooth;

}
nav{
    position: absolute;
    top: 100;
    padding-top: 5px;
    z-index: 2;
}

.stiky{
    position: fixed;
	top: 0;
	background: #fff;
	box-shadow: 1px 1px 20px #bbb5b5;
    padding-bottom: 5vh;
}
.stiky .contact-phone { 
    color: black;
}
.stiky .phone-icon{
    color: black ;
}
.nav-tar-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    list-style: none;
    
}
.phone-icon{
    color: #fff;
    font-size: 20px;
    margin-right: 3px;
}
.logo-container {
    width: 10vw;
    padding-top: 20px;
    padding-left: 20px;
}
.logo-container img{
    display: block;
    width: 100%
}
.separator-container{
    width:90vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.separator-container div{
    width: auto;
    margin-right: 2%;
}
.contact-phone{
    display: flex;
    flex-direction: row;
    color: #ffffff;
	font-size: 25px;
	height: 4vh;
	font-family:'Fjalla One', sans-serif;
}

.toogle-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: #1c1b21;
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    cursor: pointer;
    padding: 9px 20px 3px;
    letter-spacing: 0.5px;
    min-width: 6vw;
    height: 4vh;
}

.reserv-boton{
    border:none;
	line-height: 35px;
	background: #008168;
	padding: 0 20px;
	color: #fff;
	font-size: 20px;
	font-family: 'Fjalla One', sans-serif;
    margin-right: 10px;
    letter-spacing: 0.5px;
    height: 4vh;
    
}
.reserv-boton a{

    text-decoration: none;
    color: #fff;
}



.font-menu{
    opacity: 1;
    display: block;
    font-size: 20px;
    transition:opacity 13s,display 13s;
}
.font-menu_invisible{
    opacity: 0;
    display: none;

}


.font-close{
    opacity: 0;
    display: none;
    font-size: 20px;
    transition:opacity 13s,display 13s;
}


.font-close_visible{
    opacity: 1;
    display: block;
}



.listMenu-container{
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    height: 100vh;
    width: 20vw !important; 
    background-color:#1C1B21;
    
    left:-100%;
    transition: left 0.9s;
}
.listMenu-container_visible{
    left:0%;
}

.menu-container{
    position: relative;
    min-height: 50vh;
    width: 100%;

}

.menu-container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:url(../../public/image/bg-wave.svg);
    background-repeat: no-repeat;
    opacity: 0.05;
    left: 0;
    z-index: 20;
}
.menu-container li{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 10vh;
}


.menu-container a{
    position: absolute;
    z-index: 30;
    color: #fff;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
     font-size: 20px;
    width: 20%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 40%;  
}
.menu-container a:before {
	content: "";
	width: 0;
	height: 3px;
	position: absolute;
	left: -60px;
	top: 25px;
	background: #008168;
	transition-duration: 500ms;
	-webkit-transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	-webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.menu-container a:after {
	content: "";
	width: 0;
	height: 3px;
	position: absolute;
	right: -60px;
	top: 25px;
	background: #008168;
	transition-duration: 500ms;
	-webkit-transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	-webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.menu-container a:hover, nav ul li.active a {
	text-decoration: none;
	color: #008168;
}
.menu-container a:hover:before, nav ul li.active a:before {
	width: 30px;
}
.menu-container a:hover:after, nav ul li.active a:after {
	width: 30px;
}




.tittle-menu{
    text-align: center;
    width: 100%;
	height: 70px;
	line-height: 70px;
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.5rem;
    margin-top: 10px;
}
.paraf-text{
    text-align: center;
    color:#fff;
    font-family: 'Titillium Web', sans-serif;
}
